<!-- wp:template-part {"slug":"header","theme":"pixel-cyber-security","tagName":"header"} /-->

<!-- wp:pattern {"slug":"pixel-cyber-security/post-header-with-background"} /-->


<!-- wp:group {"tagName":"main","layout":{"type":"constrained"}} -->
<main class="wp-block-group">
  
  <!-- wp:template-part {"slug":"page-content","theme":"pixel-cyber-security","tagName":"div"} /-->

</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer-columns","theme":"pixel-cyber-security","tagName":"footer"} /-->